/.vs
**/*/bin
**/*/obj
**/*.cache
/build/
**/*.suo
**/*.user
**.suo
**.user
_ReSharper.*/
**/*.sdf
**.pdf
Debug/
Release/
**/*.opensdf
**.opensdf
*.tlog
*.log
TestResult.xml
**/*.VisualState.xml
**.VisualState.xml
**/*.FileListAbsolute.txt
**.FileListAbsolute.txt
*.cache